@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="jumbotron">
    <h1>Login</h1>  <br />
    <table>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="text" name="email" />
            </td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Login &raquo;" class="btn btn-primary btn-lg" />
</div>
}